{% extends 'html/layout.html' %}
{% load staticfiles %}
{% block headjs %}
    <script type="text/javascript">
        function marknormal(tableid, id) {
            $.post('{% url 'marknormal' %}', {
                tableid: tableid,
                id: id,
                type: 2
            }, function (result) {
                if (result.success) {
                    $("#normal" + tableid + "_" + id).parent().parent().remove();
                }
                if (result.fail) {
                }
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-10 column">
                            <h3>遗传算法异常规律表</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% for t in table %}
                <div class="panel-group" id="accordion{{ t.id }}" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-danger">
                        <div class="panel-heading" role="tab" id="headingUnpayed{{ t.id }}">
                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-md-3 column">
                                        <h4 class="panel-title">
                                            <a style="font-size: 25px" role="button" data-toggle="collapse"
                                               data-parent="#accordion{{ t.id }}" href="#collapseUnpayed{{ t.id }}"
                                               aria-expanded="true" aria-controls="collapseUnpayed{{ t.id }}">
                                                {{ t.name }}
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="collapseUnpayed{{ t.id }}" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingUnpayed{{ t.id }}">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {% for f in t.field %}
                                            <th>{{ f }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in t.data %}
                                        <tr>
                                            <td>{{ row.id }}</td>
                                            {% for r in row.info %}
                                                <td>{{ r }}</td>
                                            {% endfor %}
                                            <td>
                                                <button onclick="marknormal({{ t.id }},{{ row.id }})"
                                                        id="normal{{ t.id }}_{{ row.id }}"
                                                        class="btn btn-default btn-primary ">
                                                    取消异常标记
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ block.super }}
{% endblock %}